# 填写你的api key
# AI API 配置 默认使用的是deepseek的api
AI_API_KEY=sk-*******
AI_API_URL=https://api.deepseek.com/v1/chat/completions
# AI 模型配置 请自行查找所使用的api支持的模型 默认是deepseek v3
AI_MODEL=deepseek-chat

# 服务端口配置 (默认3000)
PORT=3000